<div class="mb-4">
    <label for="{{ id }}" class="block text-gray-700 font-bold mb-2">{{ label }}:</label>
    <input type="text" name="{{ name }}" id="{{ id }}" value="{{ value }}"
        class="w-full px-3 py-2 border rounded-md text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
</div>